.menu-button {
	display: block;
	text-align: center;
	font-size: 1.5em;
	text-decoration: none;
	color: #f7b10a;
	margin-top: 35px;
	padding-top: 5px;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 5px;
	border-radius: 40px;
	border: 1px solid #f7b10a;
}	


.menu-button-section {
	display: inline-block;
	width: 350px;
	margin:	5px;
	text-align: center;
}

.menu-button:hover {
	background-color: #f7b10a;
	cursor: pointer;
	color: #fff;
}